@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Roboto";
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sedgwick+Ave&display=swap');

}

.menu-item {
  @apply font-semibold lg:text-2xl text-base capitalize
}

.smallTitle {
  @apply text-[#EC6083] uppercase text-lg leading-[18px]
}

.title {
  @apply font-bold lg:text-5xl text-4xl text-center  lg:text-left mt-2 leading-[50px]
}



input[type="radio"] {
  +label {
    width: 50px;
    transition: .3s all ease-in-out;
    z-index: 1000;
    height: 50px;

    img {
      width: 40px;
    }

    span {
      opacity: 0;
      width: 0;
      transition: .3s all ease-in-out;
    }
  }

  &:checked {
    +label {
      width: 210px;

      img {
        width: 40px;

      }

      span {
        opacity: 100;
        width: auto;
      }
    }

  }
}

@media (max-width:"1024px") {
  input[type="radio"] {
    +label {
      width: 50px;
      transition: .3s all ease-in-out;
      z-index: 1000;
      height: 50px;

      img {
        width: 40px;
      }

      span {
        opacity: 0;
        width: 0;
      }
    }

    &:checked {
      +label {
        width: 150px !important;

        img {
          width: 40px;

        }

        span {
          opacity: 100;
          font-size: 15px;
          width: auto;
        }
      }

    }
  }

}