@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sedgwick+Ave&display=swap');
  }

.menu-item {
  @apply font-semibold lg:text-2xl text-base  capitalize
}

.smallTitle {
  @apply text-[#EC6083] uppercase text-lg leading-[18px]
}

.title {
  @apply font-bold text-5xl leading-[50px]  text-center mt-2
}


input[type="radio"] + label {
  width: 50px;
  transition: .3s all ease-in-out;
  z-index: 1000;
}

input[type="radio"]:checked + label {
  width: 210px;
}